@page
@model SupermarketWEB.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Index Users";
}
<h1>Index Users</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acounts[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acounts[0].Password)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Acounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>
